<div class="wrapper">

  <div class="navbar">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Startseite</a>
    <a routerLink="/stats" routerLinkActive="active">Statistik</a>
    <a href="https://github.com/jhKessler/PartyTime" target="_blank">GitHub</a>
  </div>

  <div style="width:100%;max-width:900px;">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    Created by <a href="https://github.com/jhKessler">Johnny</a> & <a href="https://github.com/lennybakkalian">Lenny</a>
  </div>

</div>
