<ng-container *ngIf="statsService.data">
  <div style="display: block;">
    <canvas baseChart width="300"
            [datasets]="[{data: statsService.data.impfungen_nach_woche, label: 'Tatsächliche Impfungen'}, {data: statsService.data.impf_forecast, label: 'Modeliert'}]"
            [labels]="statsService.data.impf_forecast_kalenderwochen"
            [options]="lineChartOptions"
            [chartType]="lineChartType">
    </canvas>
  </div>

  <div style="text-align: center; margin-top: 50px;padding: 0 20px" class="main-text">
    <div>Diskotheken öffnen in</div>
    <div class="final-date">{{daysLeft(statsService.data.wann_genug_leute_geimpft)}} Tagen</div>
    <div class="small-text">
      Am {{statsService.data.wann_genug_leute_geimpft | date:'dd.MM.y'}} sollten mit einer Herdenimmunität von {{statsService.data.impfrate_herdenimmunitaet * 100}}% und den
      aktuellen Impfzahlen die Clubs wieder öffnen. <small>(Stand {{statsService.data.stand | date: 'dd.MM.y'}})</small><br/>
      <br/>Auf der <span style="cursor:Pointer" routerLink="stats">Statistik</span> Seite kannst du zurückverfolgen wie dieser Wert berechnet wurde.
    </div>
  </div>

</ng-container>
