@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
