<div>
  <canvas baseChart width="400" height="400"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
<div style="text-align: center" class="main-text">
  In Deutschland werden voraussichtlich am<br/>
  <span class="final-date">01.01.1111</span><br/>
  75% Menschen geimpft sein!
</div>
