<ng-container *ngIf="statsService.data">
  <div>
    <canvas baseChart
            [datasets]="[{ data: statsService.data.impfungen_nach_wochentag_avg, backgroundColor: 'rgba(255,255,255,0.5)' }]"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [chartType]="barChartType">
    </canvas>
  </div>
  <div style="text-align: center; margin-top: 50px;" class="main-text">
    <div>Diskotheken öffnen in</div>
    <div class="final-date">{{daysLeft(statsService.data.genug_leute_geimpft)}} Tagen</div>
    <div class="small-text">
      Am {{statsService.data.genug_leute_geimpft | date:'dd.MM.y'}} sollten mit einer Herdenimmunität von 75% und den
      aktuellen Impfzahlen die Clubs wieder öffnen.
    </div>
  </div>
</ng-container>
