<!--<div>
  <canvas baseChart width="400" height="400"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>-->
<div style="text-align: center" class="main-text" *ngIf="statsService.data">
  In Deutschland werden voraussichtlich am<br/>
  <span class="final-date">{{statsService.data.genug_leute_geimpft}}</span><br/>
  75% Menschen geimpft sein!
</div>
