.stats-title{
  text-align: center;
}








.stats-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0px 20px;

  .stats-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .left {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 23px;
      }

      .subtitle {
        font-size: 13px;
      }
    }

    .right {
      font-size: 30px;
      font-weight: bold;
    }
  }
}
